@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        scroll-behavior: smooth;
    }
    body {
        @apply bg-slate-200 font-[Roboto];
    }
}

@layer components {
    .app__container {
        @apply container m-auto mt-[5rem] flex-1 flex-col;
    }

    .head-text {
        @apply text-center text-3xl font-semibold max-sm:px-4 md:text-[2rem];
    }

    .app__skills {
        @apply w-full flex-1 flex-col;
    }

    .app__works {
        @apply w-full flex-1 flex-col;
    }

    .app__social-buttons {
        @apply mx-1 my-0 flex h-[40px] w-[40px] cursor-pointer items-center justify-center rounded-[50%] bg-emerald-500 text-white shadow-md transition-all hover:bg-emerald-700;
    }

    .animation {
        font: 700 4em/1 'Roboto', sans-serif;
        letter-spacing: 0;
        padding: 0.25em 0 0.325em;
        display: block;
        text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);

        background: url(./textAnimation.png) repeat-y;
        -webkit-background-clip: text;
        background-clip: text;

        -webkit-text-fill-color: transparent;
        -webkit-animation: aitf 60s linear infinite;

        -webkit-transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
    }

    @keyframes aitf {
        0% {
            background-position: 0% 50%;
        }
        100% {
            background-position: 100% 50%;
        }
    }
}
